.search {
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  --default-height: 40px;
  --default-font-size: 24px;
}

.search input {
  width: 150px;
  height: var(--default-height);
  font-size: var(--default-font-size);
  outline: none;
  border-width: 0px 0px 2px 0px;
  border-color: #555;
}

.search .search-cta {
  height: var(--default-height);
  font-size: var(--default-font-size);
  background: none;
  border: none;
}